<div class="row">
  <div class="twelve columns">
    <div>
      <span class="left">GOV.UK - Engagement</span>
      <span class="right">Data briefing book</span>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 18px">
  <div class="twelve columns">
    <div id="narrative" class="large-text module">
      “Response time is <span class="green">20% better</span>
      than last year but influencer...”
      sentiment is <span class="red">down 24%</span>...”
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= erb :reach %>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <%= erb :visits %>
  </div>

  <div class="six columns">
    <div class="module">
      This is the right graph
    </div>
  </div>
</div>