<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body style="font-family: nta; margin-top: 36px">
<div style="width: 960px; margin: 0px auto">

  <div style="padding: 17px 0; font-size: 19px;">
  <span style="float: left">GOV.UK - Engagement</span> <span style="float: right">Data briefing book</span>
  </div>
  <br style="clear: both" />

  <div style="background-color: #E1E8E7; color: #231F20; padding: 36px; font-size: 60px; font-weight: bold;">
    “Response time is <span style="color:#A0C184">20% better</span>
    than last year but influencer...”
    sentiment is <span style="color:#C76674">down 24%</span>...”
  </div>
</div>
</body>
</html>