<% content_for :footer do %>
    <%= erb :_for_svg_supported_browsers, :locals => { :content => javascript_include_tag("modules/format-success") } %>
<% end %>

<div id="format-success-module" class="module">
  <%= graph_image_tag 'format-success' %>

  <div class="datainsight-hidden">
    <div class="module-header left">
        <h3 class="graph-info">Format usage last week</h3>

        <p class="graph-heading">How many times each format was used and the percentage of these that were successful</p>
    </div>
    <div id="format-success-legend"></div>

    <div style="clear: both"></div>
    <div id="format-success"></div>
    <div>
      <p class="graph-source">Source: Google Analytics</p>
    </div>
  </div>
</div>
