<% content_for :footer do %>
    <%= erb :_for_svg_supported_browsers, :locals => { :content => javascript_include_tag("force-positioning","widgets/format-success-overlay","modules/format-success") } %>
<% end %>

<div id="format-success-module" class="module">
  <%= graph_image_tag 'format-success' %>

  <div class="datainsight-hidden">
    <div class="module-header left">
        <h2 class="graph-info">Format usage last week</h2>

        <p class="graph-heading">How many times each format was used and the percentage of these that were successful</p>
    </div>
    <div id="format-success-legend"></div>

    <div style="clear: both"></div>
    <div id="format-success" class="graph-container"></div>
    <div>
      <p class="graph-source">Source: Google Analytics</p>
      <p class="small-text">'Formats' are how we refer to the templates that each page of GOV.UK uses. <br/>
        'Success' is an estimation of whether users have completed their journey through a part of the website, and is determined on a
        page-by-page basis.</p>
    </div>
  </div>
</div>
