<% content_for :footer do %>
  <script type="text/javascript" src="/performance/javascripts/modules/format-success.js"></script>
<% end %>

<div id="format-success-module" class="module">
  <div class="module-header">
    <div class="info"></div>
    <div>
      <div class="small-text">Format Interaction</div>
      <div>Format visits and successful user interactions</div>
    </div>
  </div>
  <div class="right small-text">
    <div>
      <div style="margin-top:8px; float:left; padding-right: 40px">
        <div class="small-text right">Successful interactions</div>
      </div>
      <div style="float: right; padding-right: 5px">
        <div style="margin-top:8px;">
          <div class="right" style="width: 13px; height: 13px; margin-left: 8px; background-color: #74B74A"></div>
          <div class="small-text right">100%</div>
        </div>
        <br style="clear: both"/>
        <div style="margin-top: 8px">
          <div class="right" style="width: 13px; height: 13px; margin-left: 8px; background-color: #BF1E2D"></div>
          <div class="small-text right">0%</div>
        </div>
      </div>
      <br style="clear: both"/>
    </div>
  </div>
  <div style="clear: both"></div>
  <div id="format-success"></div>
  <div class="small-text" style="padding: 18px 0">
     <span class="blue-text">Sources: Google Analytics</span>
  </div>
</div>
