<% content_for :head do %>
    <style>
        #reach {
            width: 960px;
            height: 310px;
        }
    </style>
<% end %>

<% content_for :footer do %>
    <%= erb :_for_svg_supported_browsers, :locals => {:content => javascript_include_tag("widgets/overlay","reach", "modules/hourly-traffic")} %>
<% end %>

<div id="hourly-traffic-module" class="module">
  <%= graph_image_tag 'hourly-traffic' %>

  <div class="datainsight-hidden">
    <div class="module-header left">
      <h2 class="graph-info">GOV.UK's traffic yesterday</h2>

      <p class="graph-heading">Hourly unique visitors on <span class="for_date"></span> compared with the<br/>
        <strong>average last week</strong></p>
    </div>
    <div class="right small-text">
      <div class="legend">
        <div class="legend-row">
          <div class="small-shim">
            <div class="right small-square graph-green"></div>
            <div class="small-text right" style="width: 8px; text-align: center">+</div>
            <div class="small-text right legend-label">Change from</div>
          </div>
        <br style="clear: both"/>

        <div class="small-shim">
          <div class="right small-square graph-red"></div>
          <div class="small-text right" style="width: 8px; text-align: center">-</div>
          <div class="small-text right legend-label">average last week</div>
        </div>
        <br style="clear: both"/>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>
    <div id="reach" class="graph-container"></div>
    <div>
      <p class="graph-source">Source: Google Analytics</p>
    </div>
  </div>
</div>
