<header class="page-header group">
  <hgroup>
    <h1>Welcome to Data Insight</h1>
  </hgroup>
</header>

<div class="article-container group">
  <article class="group" role="article">
    <div class="inner">

      <section class="intro">
        <p>
          We want to use data to improve public services. On these pages, you can find out about the full list of
          transactional services Government offers, what we are doing to encourage data driven delivery across
          them, and the best practice we are following to achieve it.
        </p>
      </section>

      <section class="more">

        <h3><%= internal_link_to "GOV.UK Dashboard", '/dashboard' %></h3>

        <p>
          View the latest data on the performance of GOV.UK, the best place to find government services and information.
        </p>

        <h3><%= link_to 'Government Transactional Services', 'http://transactionalservices.alphagov.co.uk' %></h3>

        <p>
          Transactional services allow the exchange of information, money, permission, goods and services.
          Government handles over one and a half billion transactions every year. Find out what transactional services local government,
          departments and their agencies or sponsored public bodies provide.
        </p>

        <h3><%= link_to "GDS Performance Framework", "/designprinciples/performanceframework" %></h3>

        <p>
          A document which helps teams running Government services to answer important questions, like:
          how do we know if a public service is working for users? How do we know how well it’s working?
          How can we tell if the changes we make are improving the service? The framework is based around seven principles,
          with easy-to-follow checklists to help people get started.
        </p>

        <h3><%= link_to "GDS Blog", 'http://digital.cabinetoffice.gov.uk/category/performance' %></h3>

        <p>
          Our latest blog posts with information on what the team has been up to.
        </p>

      </section>

    </div>
  </article>
</div>
