<header class="page-header group">
  <hgroup>
    <h1>Welcome to Data Insight</h1>
  </hgroup>
</header>

<div class="article-container group">
  <article class="group" role="article">
    <div class="inner">

      <section class="intro">
        <p>
          We want to use data to improve public services. On these pages, you can find out about the full list of
          transactional services Government offers, what we are doing to encourage data driven delivery across
          them, and the best practice we are following to achieve it.
        </p>
      </section>

      <section class="more">

        <h3><%= internal_link_to "Dashboard", '/dashboard' %></h3>

        <p>
          See how GOV.UK web traffic is changing, and how it compares, etc etc.
        </p>

        <h3><%= link_to 'Government Transactional Services', '/no-where' %></h3>

        <p>
          Information about how the Government is using transactional services to be more
          efficient, etc etc.
        </p>

        <h3><%= link_to "GDS Performance Framework", "/no-where" %></h3>

        <p>
          Information about how the Government is using performance framework services
          to be more efficient, etc etc.
        </p>

        <h3><%= link_to "GDS Blog", 'http://digital.cabinetoffice.gov.uk' %></h3>

        <p>
          Find out the latest information about what GDS is doing.
        </p>

      </section>

    </div>
  </article>
</div>
