<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  <% yield_content :head %>
</head>

<body>
<!--[if lte IE 5]>     <div id="wrapper" class="wrapper"><![endif]-->
<!--[if IE 6]>      <div id="wrapper" class="wrapper ie6"><![endif]-->
<!--[if IE 7]>      <div id="wrapper" class="wrapper ie7"><![endif]-->
<!--[if IE 8]>      <div id="wrapper" class="wrapper ie8"><![endif]-->
<!--[if gte IE 9]>  <div id="wrapper" class="wrapper"><![endif]-->
<!--[if !IE]><!-->  <div id="wrapper" class="wrapper"><!--<![endif]-->
  <section id="content" role="main">
    <%= yield %>
  </section>
</div>
</body>

<footer>
  <script type="text/javascript" src="/javascripts/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/javascripts/d3.v2.js"></script>
  <script type="text/javascript" src="/javascripts/date.js"></script>
  <script type="text/javascript" src="/javascripts/helpers.js"></script>
  <% yield_content :footer %>
</footer>
</html>
