<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  <% yield_content :head %>
</head>

<body>
<div id="wrapper" class="wrapper">
  <section id="content" role="main">
    <%= yield %>
  </section>
</div>
</body>

<footer>
  <script type="text/javascript" src="/javascripts/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="/javascripts/d3.v2.js"></script>
  <script type="text/javascript" src="/javascripts/date.js"></script>
  <script type="text/javascript" src="/javascripts/helpers.js"></script>
  <% yield_content :footer %>
</footer>
</html>