<div class="module" style="min-height: 300px">
  <div class="info"></div>
  <div class="left">
    <div class="small-text">LIVE NOW</div>
    <div>Half hourly Gov.uk traffic today <br/> compared with yesterday and <strong>monthly average</strong></div>
  </div>
  <div class="right small-text">
    <span class="blue-text">LIVE AT</span> Tuesday 24th July, 16:30
  </div>
  <div style="clear: both"></div>
  <div id="reach"></div>
</div>