<% content_for :head do %>
    <script type="text/javascript" src="/javascripts/reach.js"></script>
    <script type="text/javascript" src="/javascripts/modules/todays-activity.js"></script>


    <style>
        #reach {
            width: 960px;
            height: 300px;
        }
    </style>
<% end %>

<svg style="width: 0; height: 0">
  <defs>
    <linearGradient id="gradient_for_yesterday" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color:#CCCCCC;stop-opacity:1"/>
      <stop offset="100%" style="stop-color:white;stop-opacity:1"/>
    </linearGradient>
  </defs>
</svg>

<div class="module" style="min-height: 300px">
  <div class="info"></div>
  <div class="left">
    <div class="small-text">LIVE NOW</div>
    <div>Hourly GOV.UK traffic today <br/> compared with yesterday and <strong>the average over the last 30 days</strong></div>
  </div>
  <div class="right small-text">
    <span class="blue-text">LIVE AT</span>&nbsp;<span id="live_at"></span>

    <div>
      <div style="margin-top:8px;">
        <div class="right" style="width: 13px; height: 13px; margin-left: 8px; background-color: #74B74A"></div>
        <div class="small-text right">Increase</div>
      </div>
      <br style="clear: both"/>

      <div>
        <div class="right" style="width: 13px; height: 13px; margin-left: 8px; background-color: #BF1E2D"></div>
        <div class="small-text right">Decrease</div>
      </div>
      <br style="clear: both"/>

      <div class="right" id="yesterday" style="width: 13px; height: 13px; margin-left: 8px;margin-top: 8px;"></div>
      <div class="small-text right" style="margin-top: 8px;">Yesterday</div>
      <br style="clear: both"/>
    </div>
  </div>

  <div style="clear: both"></div>
  <div id="reach"></div>
  <div class="small-text" style="padding: 18px 0">
    <span class="blue-text">Source: Google Analytics</span>
  </div>
</div>
