<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="/javascripts/jquery-1.7.js"></script>
  <script src="/javascripts/d3.v2.js"></script>
  <script src="/javascripts/trust.js"></script>
  <script type="text/javascript">
      $(function () {
          <% @trust.keys.each do |site| %>
            trust_barchart("<%= "#{site}chart" %>", <%= @trust[site]["votes"] %>);
            trust_circle("<%= "#{site}circle" %>", <%= @trust[site]["trustLevel"] %>);
          <% end %>
      })
  </script>

  <style>

  </style>
</head>
<body>

<div class="module" style="min-height: 300px">
  <div id="trust">
    <div class="info"></div>
    <div class="left" style="margin-top: 13px">
      <div class="small-text">Trust</div>
    </div>
    <br style="clear: both"/>

    <div style="margin-left: 32px; margin-top: 2px">
      <div>
        <div class="module-inner-left">
          <span>"How much do you trust the information on this site?"</span>
          <br/>
          <span class="small-text blue-text">(1 is not at all, 5 is completely)</span>
        </div>
        <div id="trustlegend" class="module-inner-right">
          <div>
            <div class="right" style="width: 13px; height: 13px; margin-left: 8px; background-color: #74B74A"></div>
            <div class="small-text right">More</div>
          </div>
          <br style="clear: both" />
          <div>
            <div class="right" style="width: 13px; height: 13px; margin-left: 8px; background-color: #BF1E2D"></div>
            <div class="small-text right">Less</div>
          </div>
        </div>
      </div>

      <br style="clear: both"/>

      <div class="small-text gray-text graph-section-title">
        <div>Trust Level</div>
      </div>
      <div>
        <div class="graph-section-block">
          <div id="govukcircle"></div>
          <div class="small-text">GOV.UK</div>
        </div>
        <div class="graph-section-block">
          <div id="directgovcircle"></div>
          <div class="small-text">Directgov</div>
        </div>
        <div class="graph-section-block">
          <div id="businesslinkcircle"></div>
          <div class="small-text">Business Link</div>
        </div>
      </div>

      <br style="clear: both"/>

      <div class="small-text gray-text graph-section-title">
        <div>Detail</div>
      </div>

      <div>
        <div id="govukchart" class="graph-section-block"></div>
        <div id="directgovchart" class="graph-section-block"></div>
        <div id="businesslinkchart" class="graph-section-block"></div>
      </div>
      <br style="clear: both"/>
    </div>
  </div>
</div>
</div>
</body>

</html>



