<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="/javascripts/jquery-1.7.js"></script>
  <script src="/javascripts/d3.v2.js"></script>
  <script src="/javascripts/trust.js"></script>
  <script type="text/javascript">
    $(function() {
      trust_legend("trustlegend");
      var govukdata = [5,5,10,65,15];
      trust_barchart("govukchart", govukdata);
      var directgovdata = [2,3,35,45,15];
      trust_barchart("directgovchart", directgovdata);
      var businesslinkdata = [33,23,27,12,5];
      trust_barchart("businesslinkchart", businesslinkdata);

      trust_circle("govukcircle", govukdata, "GOV.UK");
      trust_circle("directgovcircle", directgovdata, "Direct.Gov");
      trust_circle("businesslinkcircle", businesslinkdata, "Business Link");
    })
  </script>

  <style>

    /*#trust{*/
      /*margin-left: 41px;*/
      /*margin-right: 41px;*/
      /*margin-top: 20px;*/
      /*margin-bottom: 20px;*/
    /*}*/

    /*.row {*/
      /*width: 100%;*/
      /*float: left;*/
    /*}*/

    .trustheader {
      height: 60px;
      width: 380px;
    }

    .innerleft {
      width: 260px;
    }

    .innerright {
      height: 120px;
      width: 120px;
      float: right;
    }

    .trustcircle .trustcharts {
      height: 100px;
      float: left;
    }

    .trustcharts {
      text-align: left;
    }

    .empty {
      float: left;
      height: 42px;
    }


    /*.halfwidth {*/
      /*width: 462px;*/
      /*height: 462px;*/
    /*}*/

    .tinyinfo {
      color: #2975BC;
      font-family: "NTA-Light", Helvetica, Arial, sans-serif;
    }

    .circleblock  {
      width: 100px;
      height: 100px;
      margin-right: 40px;
      float: left;
    }

    .chartblock  {
      width: 100px;
      height: 100px;
      margin-right: 40px;
      float: left;
    }

    /*.label {*/
      /*font-size: 12px;*/
    /*}*/
  </style>
</head>
<body>

<div class="module" style="min-height: 400px">
  <div id="trust">

      <div class="trustheader">
        <div id="trustlegend" class="innerright"></div>
        <span class="innerleft">
          <span>"How much do you trust the information on this site?"</span>
          <br/>
          <span class="tinyinfo">(1 is not at all, 5 is completely)</span>
        </span>

      </div>


      <!--<div class="trustcircle">-->
    <div class="empty"/>
        <div class="small-text">Average</div>
        <div id="govukcircle" class="circleblock"></div>
        <div id="directgovcircle" class="circleblock"></div>
        <div id="businesslinkcircle" class="circleblock"></div>
      <!--</div>-->


      <div class="empty"/>

        <div class="small-text">Detail</div>
        <div id="govukchart" class="chartblock"></div>
        <div id="directgovchart" class="chartblock"></div>
        <div id="businesslinkchart" class="chartblock"></div>

    </div>
  </div>
</div>
</body>

</html>



