<% content_for :footer do %>
    <%= javascript_include_tag "time-series", "modules/unique-visitors" %>
<% end %>

<div id="unique-visitors-module" class="module">
  <div class="module-header">
    <div>
      <p class="graph-info">Reach</p>
      <h2 class="graph-heading">Weekly Unique Visitors for the last half year</h2>
    </div>
  </div>
  <div style="clear: both"></div>
  <div id="unique-visitors"></div>
  <div>
    <p class="graph-source">Sources: Google Analytics, Celebrus, Omniture</p>
  </div>
</div>
