<% content_for :footer do %>
    <%= erb :_for_svg_supported_browsers, :locals => { :content => javascript_include_tag("modules/unique-visitors") } %>
    <%= erb :_for_svg_supported_browsers, :locals => { :content => javascript_include_tag("time-series") } %>
<% end %>

<div id="unique-visitors-module" class="module">
  <%= graph_image_tag 'unique-visitors' %>

  <div class="datainsight-hidden">
    <div class="module-header">
      <div>
        <h2 class="graph-info">Weekly unique visitors</h2>

        <p class="graph-heading">Unique visitors to GOV.UK for the last 6 months compared with <span class="brown-text">Directgov</span> and <span class="purple-text">Business Link</span></p>
      </div>
    </div>
    <div style="clear: both"></div>
    <div id="unique-visitors" class="time-series"></div>
    <div>
      <p class="graph-source">Sources: Google Analytics, Celebrus, Omniture</p>
    </div>
  </div>
</div>
