<% content_for :footer do %>
  <script type="text/javascript" src="/performance/javascripts/time-series.js"></script>
  <script type="text/javascript" src="/performance/javascripts/modules/visits.js"></script>
<% end %>

<div id="visits-module" class="module">
  <div class="module-header">
    <div>
      <p class="graph-info">Reach</p>
      <h2 class="graph-heading">Weekly Visits for the last half year</h2>
    </div>
  </div>
  <div style="clear: both"></div>
  <div id="visits"></div>
  <div class="small-text" style="padding: 18px 0">
     <span class="blue-text">Sources: Google Analytics, Celebrus, Omniture</span>
  </div>
</div>
