<% content_for :footer do %>
  <%=  javascript_include_tag("modules/govuk/active-visitors") %>
<% end %>

<div class="hidden">There are currently <span id="active-visitors"></span> visitors active on GOV.UK</div>
