<% content_for :footer do %>
  <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("widgets/scatterplot", "modules/govuk/format-success") } %>
<% end %>

<article id="format-success-module" class="dashboard one-up static">
  <%= graph_image_tag 'content-engagement' %>

  <div class="datainsight-hidden">
    <hgroup class="module-header left">
      <h1 class="graph-info">Content engagement last week</h1>

      <h2 class="graph-heading">How many times each format was used and how well users are thought to have responded to the content.</h2>
    </hgroup>
    <div id="format-success-legend"></div>

    <figure id="format-success" class="graph-container"></figure>
    <figcaption>
      <p class="graph-source">Source: GOV.UK engagement criteria measured with Google Analytics</p>
      <p class="small-text">'Formats' are how we refer to the templates that each page of GOV.UK uses.</p>
      <p class="small-text">'Engagement' is an estimation of how well users are responding to content. It is determined on a page-by-page
        basis and may include how long users have been on a page, how users interact with content, and other criteria.</p>
    </figcaption>
  </div>
</article>