<% content_for :head do %>
    <style>
        #reach {
            width: 960px;
            height: 310px;
        }
    </style>
<% end %>

<% content_for :footer do %>
    <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("reach", "modules/govuk/hourly-traffic")} %>
<% end %>

<article id="hourly-traffic-module" class="dashboard one-up">
  <%= graph_image_tag 'hourly-traffic' %>
  <div class="datainsight-hidden">
    <hgroup class="module-header left">
      <h1 class="graph-info">GOV.UK's traffic yesterday</h1>
      <h2 class="graph-heading">Hourly unique visitors on <span class="for_date"></span> compared with the
        <strong>average of the last six <span class="for_day"></span>s</strong></h2>
    </hgroup>
    <figure id="reach" class="graph-container">
      <figcaption id="reach-legend">
        <h2 class="datainsight">Change from the average <span class="for_day"></span></h2>
        <ul>
          <li class="datainsight">&#43;<span class="legend-block increase">&nbsp;</span></li>
          <li class="datainsight">&minus;<span class="legend-block decrease">&nbsp;</span></li>
        </ul>
      </figcaption>
    </figure>
    <p class="graph-source">Source: Google Analytics</p>
  </div>
</article>