<% content_for :head do %>
    <style>
        #reach {
            width: 960px;
            height: 310px;
        }
    </style>
<% end %>

<% content_for :footer do %>
    <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("reach", "modules/govuk/hourly-traffic")} %>
<% end %>

<article id="hourly-traffic-module" class="dashboard one-up">
  <%= graph_image_tag 'hourly-traffic' %>
  <div class="datainsight-hidden">
    <hgroup class="module-header left">
      <h1 class="graph-info">GOV.UK's traffic yesterday</h1>

      <h2 class="graph-heading">Hourly unique visitors on <span class="for_date"></span> compared with the
        <strong>average last week</strong></h2>
    </hgroup>
    <div class="right small-text">
      <div class="legend">
        <div class="legend-row">
          <div class="small-shim">
            <div class="right small-square graph-green"></div>
            <div class="small-text right" style="width: 8px; text-align: center">+</div>
            <div class="small-text right legend-label">Change from</div>
          </div>
          <br style="clear: both"/>

          <div class="small-shim">
            <div class="right small-square graph-red"></div>
            <div class="small-text right" style="width: 8px; text-align: center">-</div>
            <div class="small-text right legend-label">average last week</div>
          </div>
          <br style="clear: both"/>
        </div>
      </div>
    </div>
    <figure id="reach" class="graph-container"></figure>
    <p class="graph-source">Source: Google Analytics</p>
  </div>
</article>