<% content_for :footer do %>
    <%= javascript_include_tag("modules/govuk/unique-visitors") %>
    <%= javascript_include_tag("time-series") %>
<% end %>

<article id="unique-visitors-module" class="dashboard two-up">
  <%= graph_image_tag 'unique-visitors' %>
  <div class="datainsight-hidden">
    <hgroup class="module-header">
      <h1 class="graph-info">Weekly unique visitors</h1>

      <h2 class="graph-heading">
        Unique visitors to GOV.UK for the last 6 months compared with
        <span class="brown-text">Directgov</span> and <span class="purple-text">Business Link</span>
      </h2>
    </hgroup>
    <figure id="unique-visitors" class="time-series graph-container"></figure>
    <p class="graph-source">Sources: Google Analytics, Celebrus, Omniture</p>
  </div>
</article>