<% content_for :footer do %>
    <%= javascript_include_tag("time-series") %>
    <%= javascript_include_tag("modules/govuk/visits") %>
<% end %>

<article id="visits-module" class="dashboard two-up start">
  <%= graph_image_tag 'visits' %>
  <div class="datainsight-hidden">
    <hgroup class="module-header">
      <h1 class="graph-info">Weekly visits</h1>

      <h2 class="graph-heading">
        Visits to GOV.UK for the last 6 months compared with
        <span class="brown-text">Directgov</span> and <span class="purple-text">Business Link</span>
      </h2>
    </hgroup>
    <figure id="visits" class="time-series graph-container"></figure>
    <p class="graph-source">Sources: Google Analytics, Celebrus, Omniture</p>
  </div>
</article>