<% content_for :footer do %>
  <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("vendor/jquery.combobox", "vendor/jquery.mousewheel", "widgets/scatterplot", "widgets/table", "modules/format-success", "modules/inside-government/format-success") } %>
<% end %>

<article id="format-success-module" class="dashboard one-up static">
  <hgroup class="module-header left">
    <h1 class="graph-info">Content explorer</h1>

    <h2 class="graph-heading">Explore how different pieces of content on Inside Government were used last week.</h2>
  </hgroup>
  <div id="format-success-legend"></div>

  <nav><ul id="format-success-tabs" class="tabs">
    <li class="active" data-format="news">News</li>
    <li data-format="detailed_guidance">Detailed Guidance</li>
    <li data-format="policy">Policies</li>
  </ul></nav>
  
  <div id="format-success-wrapper">
    <div class="graph-header">
      <div id="scatterplot-filter-wrapper">
        <label for="scatterplot-filter">Filter:</label>
        <input id="scatterplot-filter" type="text" placeholder="keyword or title" value="">
      </div>
      <h3>&nbsp;</h3>
      <p class="tagline">&nbsp;</p>
    </div>
    <figure id="format-success" class="placeholder graph-container">
      <p class="loading">Loading data&hellip;</p>
    </figure>
    <legend>
      <p class="sizes">Size of items based on number of views</p>
      <p class="colour-key">Colour of items based on engagement level</p>
      <div class="stopfloat"></div>
    </legend>
    <figcaption>
      <div class="left">
        <h4>Data sources</h4>
        <p>GOV.UK engagement criteria measured with Google Analytics</p>
      </div>
      <div id="engagement-criteria" class="right">
        <h4></h4>
        <p></p>
      </div>
      <div class="stopfloat"></div>
    </figcaption>
  </div>
</article>