<% content_for :footer do %>
  <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("vendor/jquery.combobox", "widgets/scatterplot", "modules/format-success", "modules/inside-government/format-success") } %>
<% end %>

<article id="format-success-module" class="dashboard one-up static">
  <%= graph_image_tag 'content-engagement' %>

  <div class="datainsight-hidden">
    <hgroup class="module-header left">
      <h1 class="graph-info">Content explorer</h1>

      <h2 class="graph-heading">Explore how different pieces of content on Inside Government were used last week.</h2>
    </hgroup>
    <div id="format-success-legend"></div>

    <nav><ul id="format-success-tabs" class="tabs">
      <li class="active" data-format="news">News</li>
      <li data-format="detailed_guidance">Detailed Guidance</li>
      <li data-format="policy">Policies</li>
    </ul></nav>
    
    <div id="format-success-wrapper">
      <div class="graph-header">
        <div id="scatterplot-filter-wrapper">
          <label for="scatterplot-filter">Filter:</label>
          <input id="scatterplot-filter" type="text" placeholder="keyword or title" value="">
        </div>
  
        <h3></h3>
      </div>
      <figure id="format-success" class="graph-container"></figure>
      <legend>
        <p class="sizes">Size of items based on number of views</p>
        <p class="excluded-items"><span class="num-items-excluded">435</span> items with low views not shown</p>
        <div class="stopfloat"></div>
      </legend>
      <figcaption>
        <div class="left">
          <h4>About Guides</h4>
          <p>
            Guides contain content and
            instructional material for users.
          </p>
        </div>
        <div class="right">
          <h4>Guide engagement criteria</h4>
          <p>
            User arrives at guide item, spends at least 30 seconds
            on the content; or clicks on a link in the body of a
            page including related guides and also including anchor
            links.
          </p>
        </div>
        <div class="stopfloat"></div>
      </figcaption>
    </div>
  </div>
</article>