<% if @annotations.present? %>
  <table id="inside-gov-annotations">
    <thead>
    <tr>
      <th>Date</th>
      <th>Graph commentary</th>
    </tr>
    </thead>
    <tbody>
    <% @annotations.each do |annotation| %>
        <tr>
          <td><%= Date.parse(annotation["date"]).strftime("%e %B %Y") %></td>
          <td><a href="<%= annotation["link"] %>" rel="external"><%= annotation["text"] %></a></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>