def render_policy(policies,
<% if @policies.present? %>
  <div id="most-entered-policies-module" class="module">
    <h2>Top policies last week</h2>

    <article>
      <table>
        <thead>
        <tr>
          <th class="index_col">&nbsp;</th>
          <th class="policy_col">Policy title</th>
          <th class="views_col">Views</th>
          <th class="index_col">&nbsp;</th>
          <th class="policy_col">Policy title</th>
          <th class="views_col">Views</th>
        </tr>
        </thead>
        <tbody>
        <% (0...5).each do |index| %>
          <tr>
            <%= render partial: "inside_government/modules/policy", locals: {policy_visits: @policies[index], index: index+1} %>
            <%= render partial: "inside_government/modules/policy", locals: {policy_visits: @policies[index+5], index: index+6} %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>