<% if @policies.present? %>
  <div id="most-entered-policies-module" class="module">
    <h2>Top policies last week</h2>

    <article>
      <table>
        <thead>
          <tr>
            <th>Top 5 most entered policies on Inside Government</th>
            <th>Entries</th>
          </tr>
        </thead>
        <tbody>
          <% @policies.each.with_index(1) do |policy_entries, index| %>
            <tr>
              <td class="policy">
                <div class="policy-index"><%= index %>.</div>
                <div class="policy-title">
                    <%= link_to allow_line_break_after_slash(policy_entries.policy.url),
                                policy_entries.policy.url, rel: "external", target: "_blank" %>
                </div>
              </td>
              <td class="number">
                <div class="policy-entries"><%= NumberFormat.short_human_readable_number(policy_entries.entries) %></div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>