<% if policy_visits.present? %>
  <th class="index"><%= index %>.</th>
  <td class="policy-title">
    <%= link_to policy_visits.policy.title,
                policy_visits.policy.url, rel: "external", target: "_blank" %>
    <span><%= policy_visits.policy.department %></span>
  </td>
  <td class="policy-visits"><%= NumberFormat.short_human_readable_number(policy_visits.entries) %></td>
<% else %>
  <th class="index"></th>
  <td></td>
  <td></td>
<% end %>