<% content_for :footer do %>
  <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("time-series.js", "widgets/timeseries", "modules/inside-government/weekly-visitors")} %>
<% end %>

<div id="weekly-visitors-module" class="module">
    <div class="module-header left">
        <h2 class="graph-info">Inside Government visitors - last 3 months</h2>

        <p class="graph-heading">Vistors per week to <a href="/government">Inside Government</a> and relevant events that occured in this time</p>
    </div>
    <div style="clear: both"></div>
    <div id="inside-gov-weekly-visitors" class="graph-container"></div>
    <div>
        <p class="graph-source">Source: Google Analytics</p>
    </div>
</div>
