<% content_for :footer do %>
    <%= render partial: "shared/for_svg_supported_browsers", :locals => {:content => javascript_include_tag("time-series.js", "widgets/timeseries", "modules/inside-government/weekly-visitors")} %>
<% end %>

<article class="dashboard">
  <div id="weekly-visitors-module" class="module">
    <%= graph_image_tag "government/visitors/weekly" %>

    <div class="datainsight-hidden">
      <div class="module-header left">
        <h1 class="graph-info">Weekly unique visitors</h1>

        <p class="graph-heading">Unique visitors per week to <span class="insidegov">Inside Government</span></p>
      </div>
      <div style="clear: both"></div>
      <div id="inside-gov-weekly-visitors" class="graph-container"></div>
      <div>
        <p class="graph-source">Source: Google Analytics</p>
      </div>
    </div>
  </div>
</article>
