#content {
    font-family: nta, arial, sans-serif;
    font-size: 19px;
}

.ie7 .row * {
    width: auto;
}

.ie7 .six {
    width: 46% !important;
}

.ie6 .six {
    width: 46% !important;
}

.info {
    background: #fff url('/performance/images/information.png') no-repeat left;
    width: 32px;
    height: 27px;
    float: left;
}

/* Layout */
.module {
    width: 100%;
    margin: 0;
    position: relative;
}

.row {
    margin-top: 36px;
}

.module-header {
    margin:0;
}

.module-header > div {
    float: left;
    margin-top: 8px;
}

.module-header .info {
    margin-top: 0;
}

/* Typography */
.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 19px;
}

.large-text {
    font-size: 60px;
}

strong {
    color: #c61c71;
    font-weight: normal;
}

svg {
    font-size: 14px;
}

.blue-text {
    color: #2975bc;
}

.purple-text {
    color: #662d91;
    fill: #662d91;
}

.brown-text {
    color: #8b5d3b;
    fill: #8b5d3b;
}

.gray-text {
    color: #808285;
}

/* Graphs */
path {
    fill: none;
}
path.dashed-line {
    stroke-width: 2;
    stroke-dasharray: 2, 1;
}

/* main focus line for a time series */
path.main-line {
    stroke: #c4c4c4;
    stroke-width: 5;
}

path.brown {
    stroke: #8b5d3b;
}

path.purple {
    stroke: #662d91;
}

path.red {
    stroke: #BF1E2D;
}

path.pink {
    stroke: #c61c71;
}

/* Module Specific */
#narrative {
    padding: 36px;
    background-color: #E1E8E7;
    font-weight: bold;
}

#narrative .green {
    color: #a0c184;
}

#narrative .red {
    color: #C76674;
}

.module-inner-left {
    width: 260px;
    float: left;
}

.module-inner-right {
    height: 60px;
    width: 100px;
    float: right;
    margin-right: 55px;
}

.graph-section-block {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    text-align: center;
    float: left;
}

.graph-section-title {
    height: 42px;
    position: relative;
}

.graph-section-title * {
    bottom: 2px;
    position: absolute;
}

/* slimmer hacks */
body {
    background-color: #f2f2f2;
}

.header-context {
    display: none;
    visibility: hidden;
}

header nav, header .search-help {
    display: none;
    visibility: hidden;
}

#content {
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 40px;
}

.error {
    color: #FF0000;
}
