/* remove GOV.UK default styles */
.header-wrapper {
    width: auto;
}

header hgroup.dashboard {
    margin: 0;
    padding: 0;
}

header hgroup.dashboard h1 {
    padding: 0;
}

header hgroup.dashboard h1 span {
    display: inline;
}

section.content-group article {
    margin: 0 0 2em 0;
}

section.content-group > h1 {
    border-bottom: 5px solid #108095;
    padding: 16px 0 8px 0;
    margin: 16px 0 16px 0;
}

article.dashboard {
    min-height: 0;
}

.module-header {
    width: 50%;
}

.two-up .module-header, .three-up .module-header {
    width: 100%;
}

.datainsight article p, p.small-text {
    max-width: 100%;
}

#about-performance-platform p {
    max-width: 24em;
}

#reach-legend {
    width: 200px;
    float: right;
    margin-top: 16px;
}

#reach-legend h2 {
    margin: 0;
    width: 70%;
    float: left;
    line-height: 1.6em;
}

#reach-legend ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#reach-legend li {
    margin: 0;
    line-height: 1.6em;
    clear: right;
    float: right;
}

#reach-legend li .legend-block {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 6px;
    vertical-align: middle;
}

#reach-legend li .decrease {
    background-color: #BF1E2D;
}

#reach-legend li .increase {
    background-color: #74B74A;
}

#visits,
#unique-visitors {
    max-width: 444px;
}

@media (max-width: 700px) {
    section.content-group > h1 {
        border-bottom: 3px solid #108095;
        padding-bottom: 8px;
    }
}

@media (max-width: 960px) {
    .module-header {
        width: 100%;
    }
}