$primary-colour: #097F96;

@import '_colours';

#search,
#global-header .search-toggle {
  display:none;
}

span.alpha-tag {
  text-transform: uppercase;
  font-weight:normal;
  letter-spacing: 1px;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $pink;
  padding: 2px 5px 0;
  font-size:67%;
  display:inline-block;
  vertical-align:top;
  margin-top:2px;
}

a:hover .alpha-tag {
    text-decoration: none;
}

#global-header .header-proposition #proposition-links li {
    width:100%;
    a {
        &.active {
            color: lighten($primary-colour, 15%);
            border-bottom:1px solid $primary-colour;
        }
        &:hover {
            border-bottom:1px solid $primary-colour;
        }
        &:hover {
            text-decoration:none;
        }
    }
}

@media (min-width: 769px) {
    #global-header .header-proposition #proposition-links li {
        width:auto;
    }
}

@media (max-width: 379px) {
  #global-header span.alpha-tag {
    display:none;
  }
}
