$primary-colour: #097F96;

@import '_colours';

#search,
#global-header .search-toggle {
  display:none;
}

span.alpha-tag {
  text-transform: uppercase;
  font-weight:normal;
  letter-spacing: 1px;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $pink;
  padding: 2px 5px 0;
  font-size:67%;
  display:inline-block;
  vertical-align:top;
  margin-top:2px;
}

a:hover .alpha-tag {
    text-decoration: none;
}

#global-header .header-proposition #proposition-links li {
    a {
        &.active {
            color: $white;
            border-bottom:1px solid $primary-colour;
        }
        &:hover {
            border-bottom:1px solid $primary-colour;
            text-decoration:none;
        }
    }
}

.performance-nav {
  margin: 0 32px 2em 32px;
  border-bottom: 1px solid $border-colour;
  padding-right:15px;

  ul {
    padding:0 0 0 15px;
    list-style:none;
    margin: 0 0 0.5em 33.33%;

    li {
      display:inline;
    }
  }

  a {
    color:$text-colour;
    text-decoration:none;
    margin-right:1em;

    &.active {
      color:$text-colour;
      text-decoration:underline;
    }
    &:visited {
      color:$text-colour;
    }
    &:hover {
      text-decoration:underline;
      color:$text-colour;
    }
  }
}


@media (max-width: 768px) {
  nav.performance-nav {
    ul {
      margin-left:0;
      padding-left:0;
    }
  }
}

@media (max-width: 700px) {
  nav.performance-nav {
    margin: 0 15px;
    padding:0;
  }
}

@media (max-width: 379px) {
  #global-header span.alpha-tag {
    display:none;
  }
  
  nav.performance-nav {
    ul {
      li {
        display:block;
        margin-bottom:0.5em;
      }
    }
  }
}

#global-breadcrumb ol {
  border-top-color: #097F96;
  border-bottom: 1px solid #BFC1C3;
}