nav span.beta-tag {
    padding: 2px 5px 2px 5px;
    margin-left: 5px;
    background-color: #FF5A27;
    color: white;
}

nav a:hover .beta-tag {
    text-decoration: none;
}

nav.performance-nav {
    max-width: 1020px;
    margin: auto;
    min-height: 35px;

}

nav.performance-nav .inner-nav {
    border-bottom: 10px solid #108095;
    height: 35px;
}

nav.performance-nav a {
    color: #333;
    padding: 10px 8px 13px 8px;
    text-decoration: none;
}

nav.performance-nav a:hover, nav.performance-nav a:focus {
    text-decoration: underline;
}

nav.performance-nav ul {
    padding: 0;
    height: 27px;
    border-bottom: 5px solid black;
    padding-bottom: 3px;
}

nav.performance-nav li.sub-level {
    display: inline-block;
    float: right;
}

nav.performance-nav a.top-level {
    display: inline;
    padding: 0 35px 0 35px;
    float: left;
}

nav.performance-nav a.top-level:hover {
    text-decoration: none;
}

nav.performance-nav a.top-level:hover .top-level-link {
    text-decoration: underline;
}

nav.performance-nav li.sub-level a.current {
    background-color: black;
    color: white;
}

@media (max-width: 850px) {
    nav.performance-nav {
        height: auto;
        background-color: white;
    }

    nav.performance-nav .inner-nav {
        height: auto;
        margin: 0 15px 0 15px;
    }

    nav.performance-nav a {
        padding: 10px 8px 10px 8px;
    }

    nav.performance-nav a.top-level {
        display: block;
        float: none;
        width: auto;
        margin: 0;
        padding: 10px 8px 10px 15px;
        background-color: #EAEDEF;
    }

    nav.performance-nav .sub-level a {
        display: block;
        width: auto;
        padding-left: 8px;
        color: white;
        background-color: #108095;
    }

    nav.performance-nav ul {
        display: block;
        height: auto;
        margin: 0 0 0 0;
        background-color: white;
    }

    nav.performance-nav li.sub-level {
        padding: 0;
        float: none;
        display: block;
        background-color: white;
    }
}