/* datainsight 3-up grid */
section.content-group {
    min-width: 960px;
    margin: 32px 32px 32px 32px;
    clear: left;
}

section.content-group .right {
    float: right;
}

section.content-group .two-up,
section.content-group .three-up {
    margin-left: 3.33%;
}

section.content-group .start {
    clear: left;
    margin-left: 0;
}

section.content-group .one-up {
    width: 100%;
}

section.content-group .two-up {
    width: 48.33%;
}

section.content-group .three-up {
    width: 31.11%;
}

@media (max-width: 960px) {
    section.content-group {
        margin: 0 15px 0 15px;
        min-width: 0;
    }

    section.content-group article {
        margin-bottom: 15px;
    }

    section.content-group .one-up,
    section.content-group .two-up,
    section.content-group .three-up {
        margin-left: 0;
    }

    section.content-group .one-up,
    section.content-group .two-up,
    section.content-group .three-up {
        width: 100%;
    }
}
/* end grid */