@import '_conditionals';
@import '_typography';

a[rel="external"] {
    @include external-link-default;
    @include external-link-19;

    article td &,
    article th & {
        @include external-link-16;
    }

    .callout-box .link & {
        @include external-link-14;
    }

    #format-success-module .callout-box .data-point-label & {
        @include external-link-14;
    }
}

a[rel="external"][target="_blank"]:after {

    // hidden as it's not displayed correctly in IE8 due to browser bug
    .lte-ie8 & {
        display:none;
    }

    background-image: image-url("icon-newwindow.gif");
    
    @include device-pixel-ratio() {
        background-image: image-url("icon-newwindow@2x.gif");
    }
}

#narrative, #narrative span {
    font-size: 48px;
    font-size: 4.8rem;
}

section .intro p {
    font-size: 24px;
    font-size: 2.4rem;
}

.datainsight, .content-group h2, .content-group p {
    font-size: 16px;
    font-size: 1.6rem;
}

.content-group h1 {
    font-size: 36px;
    font-size: 3.6rem;
}

.one-up h1, .two-up h1, .three-up h1 {
    font-size: 27px;
    font-size: 2.7rem;
}

@media (max-width: 700px) {
    #narrative, #narrative span {
        font-size: 32px;
        font-size: 3.2rem;
    }

    .datainsight, .content-group h2, .content-group p, #about-performance-platform p {
        font-size: 13px;
        font-size: 1.3rem;
    }

    .content-group h1 {
        font-size: 2.4px;
        font-size: 2.4rem;
    }

    .one-up h1, .two-up h1, .three-up h1 {
        font-size: 19px;
        font-size: 1.9rem;
    }
}