.datainsight .page-header hgroup {
    margin-right: 0;
}

.datainsight .article-container {
    margin-right: 0;
}

article .intro {
    padding: 0 1em;
}

article .intro p:first-child {
    margin-top: 0;
}

article p {
    font-family: "nta", "GDS-Regular", sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.31579;
    text-transform: none;
}

#content {
    font-family: nta, arial, sans-serif;
}

.ie7 .row * {
    width: auto;
}

.ie7 .six {
    width: 46% !important;
}

.ie6 .six {
    width: 46% !important;
}

.ie7 #todays-activity-module {
    height: 462px;
}

.ie7 #unique-visitors, .ie7 #visits {
    height: 346px;
}

.ie7 #format-success-module {
    height: 547px;
}

.ie6 #todays-activity-module {
    height: 462px;
}

.ie6 #unique-visitors, .ie6 #visits {
    height: 346px;
}

.ie6 #format-success-module {
    height: 547px;
}

/* Layout */
.module {
    width: 100%;
    margin: 0;
    position: relative;
}

.row {
    margin-top: 36px;
}

.module-header {
    margin: 0;
}

.module-header > div {
    float: left;
    margin-top: 8px;
}

.module-header .info {
    margin-top: 0;
}

/* Typography */
.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 19px;
}

.large-text {
    font-size: 60px;
}

strong {
    color: #c61c71;
    font-weight: normal;
}

svg {
    font-size: 14px;
}

.graph-heading {
    margin: 4px 12px;
}

.graph-info {
    margin: 2px 12px;
}

.graph-heading, .graph-info {
    font-weight: normal;
}

.graph-source {
    padding: 18px 0;
    font-size: 14px;
    margin: 0px 0;
}

.blue-text {
    color: #2975bc;
}

.purple-text {
    color: #662d91;
    fill: #662d91;
}

.brown-text {
    color: #8b5d3b;
    fill: #8b5d3b;
}

.gray-text {
    color: #808285;
}

/* Graphs */
path {
    fill: none;
}

path.dashed-line {
    stroke-width: 2.5;
    stroke-dasharray: 3, 6;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* main focus line for a time series */
path.main-line {
    stroke: #c4c4c4;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

path.brown {
    stroke: #8b5d3b;
}

path.purple {
    stroke: #662d91;
}

path.red {
    stroke: #BF1E2D;
}

.graph-red {
    background-color: #BF1E2D;
}

.graph-green {
    background-color: #74B74A;
}

path.pink {
    stroke: #c61c71;
}

.small-square {
    width: 13px;
    height: 13px;
    margin-left: 8px;
}

.small-shim {
    margin-top: 8px;
}

/* Module Specific */
#narrative {
    padding: 12px;
    font-weight: normal;
}

#narrative .green {
    color: #5c9317;
}

#narrative .red {
    color: #c76674;
}

.module-inner-left {
    width: 260px;
    float: left;
}

.module-inner-right {
    height: 60px;
    width: 100px;
    float: right;
    margin-right: 55px;
}

.graph-section-block {
    width: 100px;
    height: 100px;
    margin-right: 40px;
    text-align: center;
    float: left;
}

.graph-section-title {
    height: 42px;
    position: relative;
}

.graph-section-title * {
    bottom: 2px;
    position: absolute;
}

.datainsight #content {
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.error {
    color: #FF0000;
}

.datainsight-hidden {
    display: none;
}

#todays-activity-module .x.axis .tick {
    stroke: #333;
    shape-rendering: crispEdges;
}
/* slimmer hacks */

/* hide top shim */
.shim {
    display: none
}

/* hide home link */
.header-context {
    display: none;
    visibility: hidden;
}

/* hide help link and search box */
header nav, header .search-help {
    display: none;
    visibility: hidden;
}

/* format success */
#format-success .label-x-right, #format-success .label-y-top, #format-success .label-y-bottom {
    text-anchor: end;
}

#format-success .label-x-left {
    text-anchor: start;
}

#format-success .title-y {
    text-anchor: middle;
}