/* format success */
#format-success .label-x-right, #format-success .label-y-top, #format-success .label-y-bottom {
    text-anchor: end;
}

#format-success .label-x-left {
    text-anchor: start;
}

#format-success .title-y {
    text-anchor: middle;
}

#format-success-legend {
    float: right;
    shape-rendering: geometricPrecision;
}

#format-success .format {
    stroke: white;
    stroke-width: 2;
}

.format-success-hover {
    position: absolute;

    /*background-color: transparent;*/
    background-color: #F1F1F1;
    border-radius: 5px;
    box-shadow: 0px 0px 7.7px -1px rgba(0, 0, 0, 0.7);
}

.details-left {
    float: left;
    text-align: right;
}

.details-right {
    padding-left: 45px;
}

.format-success-hover div {
    font-size: 14px;
    line-height: 18px;
}

.format-success-hover .format {
    /*background-color: transparent;*/
    background-color: #E6E5E5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 4px 9px 2px 7px;
}


.format-success-hover .details {
    padding: 2px 9px 4px 7px;
}