#sub-navigation {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
    height: 40px;
    z-index: 100;
}

#sub-navigation .inner {
    margin: 0 auto;
    max-width: 1020px;
    overflow: hidden;
    background: transparent;
    padding: 0;
}

.ie6 #sub-navigation .inner {
    height: 41px;
}

#sub-navigation ul {
    margin: 0;
    padding: 0;
}

#sub-navigation li {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#sub-navigation li a {
    color: #444;
    margin: 0;
    font-family: "nta", "GDS-Regular", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5625;
    /* 25px */
    display: block;
    padding: 8px 36px;
    padding: 0.8rem 3.5rem;
    text-decoration: none;
    background-color:none;
  
}

#sub-navigation li a:hover,
#sub-navigation li a:focus {
    text-decoration: underline;
}

#sub-navigation li .current {
    background-color:#fff;
    margin-top: 0.4rem;
    padding-top: 0.4rem;
}

/* {
    font-family: "nta", "GDS-Regular", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5625;

    display: block;
    padding: 8px 8px;
    padding: 0.8rem 0.8rem;

    margin-top: 0px;
    margin-right: 8px;

    background: #222;
    color: #fff;
}*/

@media (min-width: 768px) {
    #sub-navigation #inside_gov_link a {
        padding: 1.2rem 1.6rem;
    }
}

@media (max-width: 480px) {
  #sub-navigation a {
    padding-left: 0.4rem !important;
    padding-right: 0.8rem !important;
  }
}

.inner-block {
    padding: 0 30px;
}
