<div id="datainsight-dashboard">
    <div class="row">
      <div class="twelve columns">
        <%= render partial: "inside_government/modules/narrative" %>
      </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <h1>Web traffic</h1>
            <%= render partial: "inside_government/modules/weekly_visitors" %>
        </div>
    </div>

    <div class="row">
      <div class="six columns">
      </div>

      <div class="six columns">
        <%= render partial: "inside_government/modules/most_entered_policies" %>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h1>Content</h1>
        <%= render partial: "inside_government/modules/format_success" %>
      </div>
    </div>
</div>