<%= render partial: "inside_government/modules/format_success" %>

<div class="row">
  <div class="six columns">
    <%= render partial: "inside_government/modules/most_visited_policies" %>
  </div>
</div>
