.insidegov {
    color: #097F96;
}

#inside-gov-weekly-visitors .plotting-area .line,
#inside-gov-weekly-visitors .plotting-area circle {
    stroke: #097F96;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#inside-gov-weekly-visitors .plotting-area .shade {
    fill: #D7EFF3;
}